In [ ]:
import folium

In [2]:
import pandas as pd

In [3]:
raw_data = pd.read_csv('~/Desktop/pollution_us_2000_2016.csv')

In [4]:
raw_data.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [5]:
raw_data_copy = raw_data.copy() #don't mess up the real data

In [6]:
#We need to manipulate the dataset to get mean AQI by state
raw_data_copy = raw_data_copy.drop(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address', 'County', 'City', 'NO2 Units', 'NO2 Mean', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'O3 Units', 'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'SO2 Units', 'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour'], axis = 1)

In [7]:
raw_data_copy.head()

     State  Date Local  NO2 AQI  O3 AQI  SO2 AQI  CO AQI
0  Arizona  2000-01-01       46      34     13.0     NaN
1  Arizona  2000-01-01       46      34     13.0    25.0
2  Arizona  2000-01-01       46      34      NaN     NaN
3  Arizona  2000-01-01       46      34      NaN    25.0
4  Arizona  2000-01-02       34      27      4.0     NaN

TypeError: You have to supply one of 'by' and 'level'

# State Chloropleth

In [ ]:
#Store state partition
url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'
state_geo = f'{url}/us-states.json'

m = folium.Map(location=[48, -102], zoom_start=3)

folium.Choropleth(
    geo_data=state_geo,
    name='choropleth',
    data=raw_data_copy,
    columns=['State', 'Unemployment'],
    key_on='feature.id',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='CO AQI'
).add_to(m)

folium.LayerControl().add_to(m)

In [ ]:
m

# California Chloropleth

In [ ]:
#Store county partition
url = 'https://github.com/Esri/gis-tools-for-hadoop/blob/master/samples/data/counties-data/california-counties.json'
state_geo = f'{url}/us-states.json'

m = folium.Map(location=[48, -102], zoom_start=3)

folium.Choropleth(
    geo_data=state_geo,
    name='choropleth',
    data=raw_data_copy,
    columns=['State', 'Unemployment'],
    key_on='feature.id',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='CO AQI'
).add_to(m)

folium.LayerControl().add_to(m)'https://data.ct.gov/api/views/2fi9-sgi3/rows.json?accessType=DOWNLOAD'

In [ ]:
df = pd.read_csv("~/Desktop/pollution_us_2000_2016.csv")

In [ ]:
df.head()